/*h1 { 
	font-size: 60px; /*tamanho da fonte*/
	/*background-color: rgb(120, 30, 60); /*cor de fundo*/
	/*color: rgb(250, 255, 250); /*cor do texto*/
	/*color: #FAFFFA; /*sintaxe diferente, em hexadecimal para cada uma das cores*/
	/*os dois tipos de rgb funcionam (rgb e hexadecimal), porém hexadecimal é mais comum

	/*text-align: center; /*alinhar texto (centro)*/
	/*font-family: "Open Sans", sans-serif; /*tipo da fonte*/
/*}

h2 { 
	font-size: 40px; 
	font-family: "Open Sans", sans-serif; /*se não tem a primeira opção, usa a segunda opção*/
/*}*/

body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC; /*dois primeiros valores são vermelho, dois seguintes verde e dois últimos azul*/
    font-size: 120%;
}

/*espaço = dentro, main espaço h1 significa que quero pegar o h1 q esta dentro main*/
h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
    text-align: center;
    background-color: #851944;
    color: #FFF;
}

p {
    text-align: justify;
}

blockquote {
	background-color: #D9E5E3;
}

aside {
	background-color: #3C1D3D;
    color: #F2FFFC;
}

footer {
    background-color: #000;
    color: #F2FFFC;
}

nav a {
    color: #F2FFFC;
}

main a {
    color: #851944;
}

/*inherit assume o valor que foi definido em seu pai (ou ancestral, de um modo geral) em vez de assumir um outro valor*/
aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}


