/*h1 { 
	font-size: 60px; /*tamanho da fonte*/
	/*background-color: rgb(120, 30, 60); /*cor de fundo*/
	/*color: rgb(250, 255, 250); /*cor do texto*/
	/*color: #FAFFFA; /*sintaxe diferente, em hexadecimal para cada uma das cores*/
	/*os dois tipos de rgb funcionam (rgb e hexadecimal), porém hexadecimal é mais comum

	/*text-align: center; /*alinhar texto (centro)*/
	/*font-family: "Open Sans", sans-serif; /*tipo da fonte*/
/*}

h2 { 
	font-size: 40px; 
	font-family: "Open Sans", sans-serif; /*se não tem a primeira opção, usa a segunda opção*/
/*}*/

/*O espaço dentro dos elementos é conhecido como padding*/
/*margin controla os espaços externos do elemento*/
/*padding controla espaço internos do elemento, controla o espaço entre a borda dele e o conteúdo*/
/*box model - interpretação do navegador a margens, bordas, paddings*/
/*arquivo reset - zerar estilo padrão do navegador*/

body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC; /*dois primeiros valores são vermelho, dois seguintes verde e dois últimos azul*/
    font-size: 120%;
    line-height: 1.5;
}

/*espaço = dentro, main espaço h1 significa que quero pegar o h1 q esta dentro main*/
h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    margin: 0;
    border-bottom: 10px solid black;
    font-size: 60px;
}

p {
    text-align: justify;
    margin: 20px 0; /*removendo espaçamentos padrões do navegador*/
}

blockquote {
	background-color: #D9E5E3;
	border: 10px solid #C2CCCA; /*borda*/
    padding: 20px; /*espaçamento interno*/
	width: 250px; /*largura*/
	margin: 0; /*para eliminar a margem que o navegar define*/
    /*para ter 250px reais de largura é necessário somar as bordas e paddins dos dois lados e subtrair do width para a caixa toda ter 250, nesse caso o conteúdo esta com 250px de largura*/
    box-sizing: border-box; /*mede a partir das bordas para a caixa toda ter 250 pixels de largura de verdade*/
    margin: 20px 40px;
}

aside {
	background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
}

footer {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

nav a {
    color: #F2FFFC;
}

main a {
    color: #851944;
}

/*inherit assume o valor que foi definido em seu pai (ou ancestral, de um modo geral) em vez de assumir um outro valor*/
aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

/*centralizar o elemento*/
main div {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h2 {
    font-size: 30px
}
